.. STEP Surveillance Report documentation master file, created by
   sphinx-quickstart on Tue Oct 13 17:49:44 2015.
   You can adapt this file completely to your liking, but it should at least
   contain the root `toctree` directive.

.. toctree::
   :maxdepth: 2

.. STEP Surveillance Report
.. ========================


SNAP Downloads
==============

Weekly download stats
---------------------

A look at the SNAP installer downloads week after week :

{{ unique_downloads_table }}

.. image:: {{ unique_downloads_img }}
    :align: center

{{ cumulated_unique_downloads_table }}

.. image:: {{ cumulated_unique_downloads_img }}
    :align: center


SNAP user's Operating System
----------------------------

.. image:: {{ os_piechart }}
    :align: center


STEP Website visits
===================

{{ unique_visitors }}

.. image:: {{ unique_visitors_img }}
    :align: center


